@font-face {
    font-family: 'Montserrat';
    font-weight: 400 700;
    src: url(src/Montserrat.ttf)
}

body {
    background-color: #F2EFEB;
    margin: 0;
}

.container {
    display: flex;
    margin: 19px 35px;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0D0D0D;
    position: relative;
}

.registrationForm {
    margin-left: 45px;
}

.overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding-bottom: 100px;
    max-width: inherit;
    width: 100%;
    min-height: 340px;
    background-color: #F2EFEB;
    z-index: 1;
}

.header {
    padding-bottom: 11px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    min-height: 44px;
    border-bottom: 1px solid #676AAA;
    margin-bottom: 25px;
}

.header_text {
    margin: auto 29px;
    font-weight: 700;
    color: #676AAA;
}

.arrow_exit {
    width: 15px;
    margin: auto 0 auto 37px;
}

.inputBlock {
    margin-bottom: 27px;
}

.textInput {
    margin-bottom: 10px;
}

.mainMenu {
    width: 100%;
}

.rows, .rows_invisible {
    display: flex;
    margin-bottom: 36px;
    flex-direction: row;
    background-repeat: no-repeat, no-repeat;
    background-size: 30px, 14px;
    background-position: 0 50%, 100% 50%;
    -webkit-tap-highlight-color: rgba(126, 126, 133, 0.3);
    width: 100%;
}

.rows_invisible {
    display: none;
}

.rows.teams {
    background-image: url("/static/src/users.png"), url("/static/src/arrow.png");
}

.time_td {
    padding: 3px 0 3px 0;
    margin: 0 0 0 auto;
    width: 66px;
    background-color: #676AAA;
    border-radius: 10px;
    text-align: center;
    color: #F2EFEB;
}

.trainer_td {
    margin: auto 0;
}

.cell_logo_team {
    max-width: 10px;
    background-image: url("/static/src/users.png");
}

/*TODO: REMOVE BEFORE PRODUCTION*/
#overlay_registration, #overlay_enroll, #overlay_event, #event_creation {
    display: none;
}

#main_header {
    font-size: 30px;
    font-style: italic;
}

#notification_indicator {
    margin: 0 30px 0 auto;
    max-width: 40px;
}

#notification_button {
    width: 100%;
}

#my_teams {
    background-image: url("/static/src/users.png"), url("/static/src/arrow.png");
}

#new_team {
    background-image: url("/static/src/newUser.png"), url("/static/src/arrow.png")
}

#enroll_training {
    background-image: url("/static/src/edit.png"), url("/static/src/arrow.png");
}

#date_picker {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#date_picker_text {
    width: 100%;
    text-align: center;
}

#arrow_date_left, #arrow_date_right {
    max-width: 14px;
    margin: auto 0 auto 0;
}

#statistics {
    background-image: url("/static/src/calendar.png"), url("/static/src/arrow.png");
}

#feedback {
    background-image: url("/static/src/message.png"), url("/static/src/arrow.png");
}

#administration {
    display: none;
    background-image: url("/static/src/settings.png"), url("/static/src/arrow.png");
}

#reg_logo {
    margin: auto 0 auto 30px;
    width: 30px;
}

#reg_header {
    margin: auto 20px;
}

table {
    width: 100%;
    min-height: 350px;
}

button {
    display: flex;
    box-sizing: border-box;
    padding: 2px 0;
    width: 100%;
    text-align: left;
    text-indent: 46px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

input {
    width: 265px;
    height: 50px;
    background: none;
    border: 1px solid #676AAA;
    border-radius: 10px;
    color: #0D0D0D;
    font-size: 15px;
    font-style: italic;
    font-family: inherit;
    padding-left: 15px;
}