<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>YachtWind</title>
</head>
<body>
    <div class="container">
        <nav class="overlay" id="overlay_main_menu">
            <div class="header" id="main_header">
                <div class="arrow_exit"><button type="button" style="display: none"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">YachtWind</div>
                <div id="notification_indicator"><button type="button" id="notification_button" onclick=""><img src="/static/src/notification.png"></button></div>
            </div>
            <div class="rows" id="my_teams">
                <button type="button" onclick="teamListOverlay.openOverlay()">Мои команды</button>
            </div>
            <div class="rows" id="enroll_training">
                <button type="button" onclick="eventListOverlay.openOverlay()">Запись на выход</button>
            </div>
            <div class="rows" id="statistics">
                <button type="button" onclick="statisticsOverlay.openOverlay()">Мои тренировки</button>
            </div>
            <div class="rows" id="feedback">
                <button type="button" onclick="">Обратная связь</button>
            </div>
            <div class="rows" id="administration">
                <button type="button" onclick="">Администрирование</button>
            </div>
        </nav>
        <div class="overlay" id="overlay_registration">
            <div class="header">
                <div id="reg_logo"><img src="/static/src/user.png"></div>
                <div class="header_text" id="reg_header">Регистрация</div>
            </div>
            <div class="registrationForm">
                <form action="" id="user_register_form" method="post">
                    <div class="rows">
                        <label for="lastName" class="row_text">Фамилия:</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Type..">
                    </div>
                    <div class="rows">
                        <label for="firstName" class="row_text">Имя:</label>
                        <input type="text" id="firstName" name="firstName" placeholder="Type..">
                    </div>
                    <div class="rows">
                        <label for="middleName" class="row_text">Отчество:</label>
                        <input type="text" id="middleName" name="middleName" placeholder="Type..">
                    </div>
                </form>
            </div>
        </div>
        <div class="overlay" id="overlay_team">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Мои команды</div>
            </div>
            <div id="block_teams">У вас нет команд!</div>
        </div>
        <div class="overlay" id="overlay_team_view">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="teamListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text" id="team_view_name"></div>
            </div>
            <div class="rows team_view">
                <div class="icon"><img src="/static/src/edit.png"></div>
                <div class="row_text">Описание команды</div>
            </div>
            <div class="rows" id="team_description_rectangle"></div>
            <div class="rows" id="team_show_users">
                <button type="button" id="change_team_participants_button">Просмотр участников</button>
            </div>
            <div class="rows" id="team_schedule_training">
                <button type="button">Создать тренировку</button>
            </div>
        </div>
        <div class="overlay" id="overlay_team_participants">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="teamDetailsOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Список участников</div>
            </div>
            <div class="rows team_view">
                <label for="new_user_input" style="display: none">Добавить пользователя</label>
                <input type="text" id="new_user_input" name="new_user_input" placeholder="Фамилия Имя">
                <button type="submit" id="user_search_button">
                        <img src="/static/src/lookup.png" id="lookup_icon">
                </button>
            </div>
            <div id="team_list_block"></div>
        </div>
        <div class="overlay" id="overlay_team_creation">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="teamListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Создание команды</div>
            </div>
            <form action="" id="team_creation_form" method="post">
                <div class="rows team_creation">
                    <div class="icon"><img src="/static/src/users.png"></div>
                    <label for="team_name_form" style="display: none">Название команды</label>
                    <input type="text" id="team_name_form" name="team_name_form" placeholder="Название команды">
                </div>
                <div class="rows team_creation">
                    <div class="icon"><img src="/static/src/edit.png"></div>
                    <label for="team_description_form" style="display: none">Описание команды</label>
                    <input type="text" id="team_description_form" name="team_description_form" placeholder="Описание команды">
                </div>
                <div class="rows team_creation" id="team_add_users_row">
                    <button type="button" id="team_add_users_button">Добавить участников</button>
                </div>
            </form>
        </div>
        <div class="overlay" id="overlay_event_list">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Тренировки</div>
            </div>
            <table id="events_table">
                <tr style="display: none"></tr>
            </table>
            <div id="date_picker">
                <button type="button" id="arrow_date_left" onclick="listHandler('-')"><img src="/static/src/arrow_left.png"></button>
                <div id="date_picker_text">Нет записей</div>
                <button type="button" id="arrow_date_right" onclick="listHandler('+')"><img src="/static/src/arrow.png"></button>
            </div>
        </div>
        <div class="overlay" id="event_creation">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="eventListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Новая тренировка</div>
            </div>
            <div id="creation_form">
                <form id="event_create_form">
                    <div>
                        <div class="rows event">
                            <div class="icon"><img src="/static/src/calendar.png"></div>
                            <label for="datetime_form" class="row_text">Дата и время</label>
                        </div>
                        <div class="rows event">
                            <input type="datetime-local" id="datetime_form" name="datetime_form" max="2040-12-31">
                        </div>
                    </div>
                    <div>
                        <div class="rows event">
                            <div class="icon"><img src="/static/src/users.png"></div>
                            <label for="slot_form" class="row_text">Места для записи</label>
                        </div>
                        <div class="rows event">
                            <input type="number" id="slot_form" name="slot_form" placeholder="1-8">
                        </div>
                    </div>
                    <div>
                        <div class="rows event">
                            <div class="icon"><img src="/static/src/time.png"></div>
                            <div class="row_text"><label for="length_form" class="row_text">Длительность</label></div>
                            <input type="number" id="length_form" name="length_form" placeholder="1-3" value="1">
                        </div>
                    </div>
                    <div>
                        <div class="rows event">
                            <div class="icon"><img src="/static/src/position.png"></div>
                            <div class="row_text"><label for="boat_num_form" class="row_text">Судно</label></div>
                            <input type="number" id="boat_num_form" name="boat_num_form" placeholder="1-14">
                        </div>
                    </div>
                    <div>
                        <div class="rows event">
                            <div class="icon"><img src="/static/src/lockOpen.png"></div>
                            <div class="row_text"><label for="privacy_type_form" class="row_text">Приватность</label></div>
                            <input type="number" id="privacy_type_form" name="privacy_type_form" placeholder="Open">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="overlay" id="overlay_event">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="eventListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Информация</div>
            </div>
            <div id="block_info">
                <div class="rows event" style="display: none">
                    <div id="info_event_id"></div>
                </div>
                <div class="rows event">
                    <div class="icon"><img src="/static/src/user.png"></div>
                    <div id="event_author_name" class="row_text">Тренер</div>
                    <button type="button" id="enroll_access_lock" onclick=""><img src="/static/src/lockOpen.png"></button>
                </div>
                <div class="rows event" id="date_section">
                    <div class="icon"><img src="/static/src/calendar.png"></div>
                    <div id="info_date" class="row_text">Дата</div>
                </div>
                <div id="info_time">Время</div>
                <div class="rows event" id="boat_num_section">
                    <div class="icon"><img src="/static/src/position.png"></div>
                    <div class="row_text">Судно</div>
                    <div class="number_blue_box" id="boat_num">—</div>
                </div>
                <div class="rows event">
                    <div class="icon"><img src="/static/src/users.png"></div>
                    <div class="row_text">Команда</div>
                    <div class="number_blue_box" id="info_available">0</div>
                </div>
                <div>
                    <table id="event_team_list">
                        <tr></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay_stats">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Мои тренировки</div>
            </div>
            <table id="statistics_table">
                <tr onclick="">
                    <td>
                        <img src="/static/src/fire.png" class="icon">
                    </td>
                    <td>
                        <span>Рейтинг</span>
                    </td>
                    <td>
                        <span class="number_blue_box stats_number" id="user_rank">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                </tr>
                <tr onclick="">
                    <td>
                        <img src="/static/src/histogram.png" class="icon">
                    </td>
                    <td>
                        <span>Тренировки</span>
                    </td>
                    <td>
                        <span class="number_blue_box stats_number" id="user_total_events">0</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/static/main.js"></script>
    <script src="/static/overlay-manager.js"></script>
</body>
</html>