<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>YachtWind</title>
</head>
<body>
    <div class="container">
        <nav class="overlay" id="overlay_main_menu">
            <div class="header" id="main_header">
                <div class="arrow_exit"><button type="button" style="display: none"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">YachtWind</div>
                <div id="notification_indicator"><button type="button" id="notification_button" onclick=""><img src="/static/src/notification.png"></button></div>
            </div>
            <div class="rows" id="my_teams">
                <button type="button" onclick="teamListOverlay.openOverlay()">Мои команды</button>
            </div>
            <div class="rows" id="enroll_training">
                <button type="button" onclick="eventListOverlay.openOverlay()">Запись на выход</button>
            </div>
            <div class="rows" id="statistics">
                <button type="button" onclick="statisticsOverlay.openOverlay()">Мои тренировки</button>
            </div>
            <div class="rows" id="feedback">
                <button type="button" onclick="">Обратная связь</button>
            </div>
            <div class="rows" id="administration">
                <button type="button" onclick="">Администрирование</button>
            </div>
        </nav>
        <div class="overlay" id="overlay_registration">
            <div class="header">
                <div id="reg_logo"><img src="/static/src/user.png"></div>
                <div class="header_text" id="reg_header">Регистрация</div>
            </div>
            <div class="registrationForm">
                <form action="" id="user_register_form" method="post">
                    <div class="inputBlock">
                        <div class="textInput"><label for="lastName">Фамилия:</label></div>
                        <div class="inputBoxes"><input type="text" id="lastName" name="lastName" placeholder="Type.."></div>
                    </div>
                    <div class="inputBlock">
                        <div class="textInput"><label for="firstName">Имя:</label></div>
                        <div class="inputBoxes"><input type="text" id="firstName" name="firstName" placeholder="Type.."></div>
                    </div>
                    <div class="inputBlock">
                        <div class="textInput"><label for="middleName">Отчество:</label></div>
                        <div class="inputBoxes"><input type="text" id="middleName" name="middleName" placeholder="Type.."></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="overlay" id="overlay_teams">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Мои команды</div>
            </div>
            <div class="rows teams">
                <button type="button" onclick="">Команда Ивана</button>
            </div>
            <div class="rows teams">
                <button type="button" onclick="">Команда Валеры</button>
            </div>
            <div class="rows teams">
                <button type="button" onclick="">Команда Даши</button>
            </div>
            <div class="rows" id="new_team">
                <button type="button" onclick="">Создать команду</button>
            </div>
        </div>
        <div class="overlay" id="overlay_event_list">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Тренировки</div>
            </div>
            <table id="events_table">
                <tr style="display: none"></tr>
            </table>
            <div id="date_picker">
                <button type="button" id="arrow_date_left" onclick="listHandler('-')"><img src="/static/src/arrow_left.png"></button>
                <div id="date_picker_text">Нет записей</div>
                <button type="button" id="arrow_date_right" onclick="listHandler('+')"><img src="/static/src/arrow.png"></button>
            </div>
        </div>
        <div class="overlay" id="event_creation">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="eventListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Создание события</div>
            </div>
            <div class="header" id="creation_form">
                <form id="event_create_form">
                    <div class="create_row">
                        <div class="create_form_label"><label for="datetime_form">Дата и время:</label></div>
                        <div class="create_form_input"><input type="datetime-local" id="datetime_form" name="datetime_form" max="2040-12-31"></div>
                    </div>
                    <div class="create_row">
                        <div class="create_form_label"><label for="slot_form">Количество слотов:</label></div>
                        <div class="create_form_input"><input type="number" id="slot_form" name="slot_form" placeholder="1-8"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="overlay" id="overlay_event">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="eventListOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Информация</div>
            </div>
            <div id="block_info">
                <div class="rows event" style="display: none">
                    <div id="info_event_id"></div>
                </div>
                <div class="rows event">
                    <div class="icon"><img src="/static/src/user.png"></div>
                    <div id="event_author_name">Тренер</div>
                    <button type="button" id="enroll_access_lock" onclick=""><img src="/static/src/lockOpen.png"></button>
                </div>
                <div class="rows event" id="date_section">
                    <div class="icon"><img src="/static/src/calendar.png"></div>
                    <div id="info_date">Дата</div>
                </div>
                <div id="info_time">Время</div>
                <div class="rows event" id="boat_num_section">
                    <div class="icon"><img src="/static/src/position.png"></div>
                    <div>Номер лодки</div>
                    <div class="number_blue_box" id="boat_num">—</div>
                </div>
                <div class="rows event">
                    <div class="icon"><img src="/static/src/users.png"></div>
                    <table id="event_team_list">
                        <tr>
                            <td>Команда</td>
                            <td><div id="info_available">0</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay_stats">
            <div class="header">
                <div class="arrow_exit"><button type="button" onclick="mainMenuOverlay.openOverlay()"><img src="/static/src/arrow_exit.png"></button></div>
                <div class="header_text">Мои тренировки</div>
            </div>
            <table id="statistics_table">
                <tr onclick="">
                    <td>
                        <img src="/static/src/fire.png" class="icon">
                    </td>
                    <td>
                        <span>Рейтинг</span>
                    </td>
                    <td>
                        <span class="number_blue_box stats_number" id="user_rank">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                </tr>
                <tr onclick="">
                    <td>
                        <img src="/static/src/histogram.png" class="icon">
                    </td>
                    <td>
                        <span>Тренировки</span>
                    </td>
                    <td>
                        <span class="number_blue_box stats_number" id="user_total_events">0</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/static/main.js"></script>
    <script src="/static/overlay-manager.js"></script>
</body>
</html>